* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html { scroll-behavior: smooth; } 

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: 10px solid #434952;
    background-color: #e5dfd8;
    color: black;
  }

ul {
    text-align: right;
    padding-right: 20px;
}

li {
    text-align: right;
    padding: 15px;
    display: inline;
}

a:link {
    text-decoration:none;
    color: #c3846b;
}
a:visited {
    text-decoration: none;
    color: #c3846b;
}
a:hover {
    text-decoration: none;
    color:#8d9ca4;
}
a:active {text-decoration: none;}

img {
    width: 300px;
}

.container {
    text-align: center;
    align-items: center;
    height: 300px;
}

div {
    display: block;
}

h1 {
    font-size: 30px;
}

#introSection {
    margin-top: 70px;
}

.container1 {
    position: relative;
    padding-bottom: 15px;
    text-align: center;
    align-content: center;
    border-top: 2px solid #8d9ca4;
    background: #f4f3ef;
}

#contactForm {
    position: relative;
    margin: auto;
    width: 400px;
    height: 70px;
    padding: 15px;
    border: 2px solid #c3846b;
    border-radius: 20px;
}

button {
    height: 25px;
    width: 70px;
}

button:hover {
    background-color: #c3cace;
}

div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer {
    height: 13px;
    padding: 3px;
    font-size: 9px;
    text-align: center;
    color:#fffff0;
    background-color: #434952;
} 